.App {
    width: 100%;
    min-height: 100vh;
    display: flex;
    position: relative;
}

a {
    color: #fff;
}

i {
    cursor: pointer;
    transform: scale(1);
    transition: all 300ms ease-in-out;
}

i:hover {
    transform: scale(1.1);
    color: #fff;
}

h2 {
    text-align: center;
    color: #fff;
    font-weight: lighter;
}

form {
    width: 100%;
}

form footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.page {
    width: 100%;
    min-height: 100vh;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page > section {
    width: 400px;
}

.logoutButton {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

@media only screen and (max-width: 600px) {
    .page > section {
        width: 90%;
    }
}